<%- include header %>
    
    <div class="jumbotron">
        <div class="dashboard-containder">
            <div class="dashboard-userInfo">
                <div>
                    <a>
                        <img src="<%= feed[0].prof_pic_path %>" alt="profile pictuer">
                    </a>
                </div>
            </div>
            <div class="dashboard-userInfo">
                <h1>
                    <span><%= feed[0].first_name%></span>
                    <span>
                        <%= feed[0].last_name %>
                    </span>
                </h1>
                    <p><%= feed.length %></p>
                    <p class="bold">posts</p>
                <p>
            </div>
        </div>
    </div>
    
<%- include footer %>