<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Node.js Assignment - SNS </title>
     <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    
</head>
<body>
<nav class="bg-light text-darl">
    <div class="d-flex ml-3 mr-3 ">
        <div class="siteName mr-auto pr-5 pl-5 pt-3"><a class="text-dark" href="/feed">FAKEBOOK</a></div>
        <div class="pr-2 pr-3 pl-3 pt-3"><a class="text-dark" href="/feed">Home</a></div>
        <div class="pr-2 pr-3 pl-3 pt-3 profile">   <a class="text-dark mr-2" href= "/profile" data-toggle="modal" data-target="/#profile">
            <span class="navName">
                <% if ( data[0].prof_pic_path != null ){ %><img src="<%= data[0].prof_pic_path %>" alt="profile pictuer"><% 
            
                } else { %><img src= "../img/default-profile.jpg" alt="profile picture"><% } %>
            </span>
            <span class="navName">
                <%= data[0].first_name %>
            </span></a>
        </div>
        <div class="p-2 pr-3 pl-3 pt-3"><a class="text-dark" href="/logout">Logout</a></div>
    </div>
</nav>
    
<!-- Modal -->
<div class="modal" id="profile" tabindex="-1" role="dialog" aria-labelledby="profile" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalLabel"><%=data[0].first_name%></h3>
                <h3 class="modal-title" id="modalLabel"><%=data[0].last_name %></h3>
                
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"><a href="#" >
                <% if ( data.prof_pic != null ){ %><img src="<%= data[0].prof_pic_path %>" alt="profile pictuer" ><% } else { %><img src= "../img/default-profile.jpg" alt="profile picture" ><% } %>
                </a>
                <form action="/timeline" method="POST" encType="multipart/form-data">

                    <input type="file"
                       id="avatar" name="avatar"
                       accept="image/png, image/jpeg">
                    <input type="submit" value="submit">
                </form>
            
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Change</button>
			</div>
		</div>
	</div>
</div>
    
  </body>
</html>
    
      